<div class="jumbotron">
    <h1>Carousel</h1>
</div>

<h2>Source Code</h2>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#sourceCode">View details &raquo;</button>
<div id="sourceCode" class="collapse">
    <pre><code>&lt;div id="banner"&gt;
&lt;/div&gt;
&lt;script type="text/javascript" src="/Scripts/sdlmedia/jquery.sdlmedia.carousel.js"&gt;&lt;/script&gt;
&lt;script language="javascript"&gt;
  $(function() {
    $('#banner').sdlmediaCarousel({ url: "//mmcloudtest.dist.sdlmedia.com/json/1aa602ce-8e2f-44c5-a97c-9c2ed27adecf" });
  });
&lt;/script&gt;</code></pre>
</div>

<h2>Result</h2>

<div id="banner">
</div>

@section scripts
{
    <script type="text/javascript" src="/Scripts/sdlmedia/jquery.sdlmedia.carousel.js"></script>

    <script language="javascript">
        $(function() {
            $('#banner').sdlmediaCarousel({ url: "//mmcloudtest.dist.sdlmedia.com/json/1aa602ce-8e2f-44c5-a97c-9c2ed27adecf" });

            $('pre code').each(function (i, block) {
                hljs.highlightBlock(block);
            });
        });
    </script>
}
