<div class="jumbotron">
    <h1>HTML5 Player</h1>
    <p class="lead">Videos using the SDL Media HTML5 player in an IFrame.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <p>Video 1</p>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//mmcloudtest.dist.sdlmedia.com/Distributions/?o=CAF6C88B-1F9C-44D6-875B-41A348FC3800&responsive=true" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-6">
        <p>Video 2</p>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//mmcloudtest.dist.sdlmedia.com/Distributions/?o=92FF479C-99E2-49B9-B726-06F7754E91A9&responsive=true" allowfullscreen></iframe>
        </div>
    </div>
</div>

