<div class="jumbotron">
    <h1>Examples</h1>
    <p class="lead">Examples how to use SDL Media Delivery on web sites.</p>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>@Html.ActionLink("Carousel", "Carousel", "Home", new { area = "" }, null)</h2>
        <p>How to build a carousel for banners based on images stored in Media Manager using JSON.</p>
    </div>
    <div class="col-md-3">
        <h2>@Html.ActionLink("HTML5 Player", "Html5Player", "Home", new { area = "" }, null)</h2>
        <p>How to build a HTML5 player based on a video stored in Media Manager using JSON.</p>
    </div>
    <div class="col-md-3">
        <h2>@Html.ActionLink("Responsive Player", "Html5PlayerIframe", "Home", new { area = "" }, null)</h2>
        <p>How to use SDL Media Manager HTML5 player using an Iframe.</p>
    </div>
</div>